/***********************************************

 Autores: Eros Marziani - Hernandez Jorquera Joaquin

***********************************************/

/* Cabecera principal */
html{
    margin: 0;
}

body{
    height: 2000px;
}
.main-header{
    width: 100%;
    height: 70px;
    background-color: #272838   ;
    position: sticky;
    display: flex;
    top: 0;
    padding: 10px;
    margin: 0px;
    border: 5px transparent;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-header>img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
}
.main-header>h1{
    color: #FFD2FC;
}

.main-header .notifications{
    right: 10px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.main-header .notifications :hover {
    transform: rotate(10deg); /* Gira 180 grados en sentido horario al hacer hover */
}

/* Barra de navegación */
.main-menu{
    background-color:#1F1A38;  
    height: 100%;
    width: 200px; 
    position: fixed;
    color: azure;
    box-sizing: border-box;
    padding-top: 20px;
}
.menu-group{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-group a {
    display: block;
    padding: 2px;
}
main section{
    padding: 3px;
    background-color: green;
}

/* Tarjetas */
.card{
    background-color: brown;
}

/* Cotización */
.loading-item{
    background-color: lightblue;
}

/* Pie de página principal */
.main-footer{
    background-color: violet;
}